# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Week8-ScritableObject.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\NYU\研一冬季\Code Lab 1\yw2197-HW-Week8\Week8-ScritableObject\.idea\.idea.Week8-ScritableObject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
